out
gen
**/.DS_Store
**/__pycache__
**/.atom/
**/.buildlog/
**/.history
**/.svn/
**/migrate_working_dir/
API/api/
Api/venv/

**/*.iml
**/*.ipr
**/*.iws
**/.idea/

Frontend/find_my_pill/*.class
Frontend/find_my_pill/*.log
Frontend/find_my_pill/*.pyc
Frontend/find_my_pill/*.swp
Frontend/find_my_pill/**/doc/api/
Frontend/find_my_pill/**/ios/Flutter/.last_build_id
Frontend/find_my_pill/.dart_tool/
Frontend/find_my_pill/.flutter-plugins
Frontend/find_my_pill/.flutter-plugins-dependencies
Frontend/find_my_pill/.packages
Frontend/find_my_pill/.pub-cashe/
Frontend/find_my_pill/.pub/
Frontend/find_my_pill/build/
Frontend/find_my_pill/app.*.symbols
Frontend/find_my_pill/app.*.map.json
Frontend/find_my_pill/android/app/debug
Frontend/find_my_pill/android/app/profile
Frontend/find_my_pill/android/app/release